mixin link(url, title, icon)
	li.nav-item
		a.nav-link(href=url class={active: req.path == url})
			i(class="fa fa-"+icon)
			|  #{title}

nav.navbar.navbar-expand-lg.navbar-light.bg-light
	a.navbar-brand(href="/") #{pkg.name} v#{pkg.version}
	.collapse.navbar-collapse
		ul.navbar-nav
			+link("/","Home", "home")
			+link("/games","Games", "list")
			+link("/games/quick-join","Join Game", "enter")
			+link("/games/create","Create Game", "plus")
			+link("/status","Stats", "area-chart")
