link(rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" href="//unpkg.com/font-awesome/css/font-awesome.min.css")
script(src="//unpkg.com/jquery")
script(src="//unpkg.com/popper")
script(src="//unpkg.com/bootstrap/dist/js/bootstrap.min.js")
script(src="/public/main.js")