extends layout/default

block content
	.row
		.col-8
		.col-4
			.card.text-center
				.card-header Quick Join
				.card-body
					h5.card-title Special title treatment
					p.card-text With supporting text below as a natural lead-in to additional content
					a.btn.btn-primary(href="/games/quick-join") Join Game